
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signed,
.error,
.initial {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logout,
.try {
    margin-top: 30px;
}

.response {
    margin-top: 30px;
}