
@import "_body.css";
@import "_header.css";
@import "_content.css";

:root {
    --light: #ffffff;
    --dark: #343a40;
    
    --primary: #007bff;
    --primary-darken: #006aee;
    
    --success: #28a745;
    --success-darken: #179834;

    --warning: #ffc107;
    --warning-darken: #eeb006;

    --danger: #dc3545;
    --danger-darken: #cb2434;
}


html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    display: grid;
    grid-auto-rows: 60px 1fr;
    width: 100%;
    height: 100%;
    color: var(--black);
}
.text {
    display: inline-block;
}
.text--light {
    color: var(--light);
}
.text--success {
    color: var(--success-darken);
}
.text--danger {
    color: var(--danger-darken);
}
.text--heavy {
    font-size: 64px;
}
.text--response {
    color: #999999;
    background-color: #eee;
    font-family: monospace;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary);
    color: var(--light);
    border-radius: 5px;
}
.btn:hover {
    cursor: pointer;
    background-color: var(--primary-darken);
}

.btn--warning {
    background-color: var(--warning);
    color: var(--dark);
}
.btn--warning:hover {
    background-color: var(--warning-darken);
}

.btn--danger {
    background-color: var(--danger);
}
.btn--danger:hover {
    background-color: var(--danger-darken);
}

.header {
    background-color: var(--dark);
    color: var(--light);
    height: 60px;
    display: flex;
    align-items: center;
}

.title {
    margin-left: 30px;
}


.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signed,
.error,
.initial {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logout,
.try {
    margin-top: 30px;
}

.response {
    margin-top: 30px;
}

.hide {
    display: none;
}